.cancelBtn {
    position: absolute;
    top: -15px;
    right: 30px;
    font-size: 40px;
}

.create-plant-box {
    padding: 20px;
}

.imageWarning {
    font-style: italic;
    font-weight: 300;
    color: darkred;
}

.healthSelect {
    font-size: 16px;
}